<!-- Sidebar -->
<ul class="navbar-nav sidebar" id="accordionSidebar" style="background-color:#1E1445 !important;color: white !important;">
  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/admin">
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas fa-laugh-wink" style="color: white;"></i>
    </div>
    <div class="sidebar-brand-text mx-3" style="color: white;">Admin</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0" />

  <!-- Divider -->
  <hr class="sidebar-divider" />

  <!-- Nav Item - Courses Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePagesCourses"
      aria-expanded="true" aria-controls="collapsePagesCourses" style="color: white;">
      <i class="fas fa-fw fa-book" style="color: white;"></i>
      <span style="color: white;">Courses</span>
    </a>

    <div id="collapsePagesCourses" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header" >Courses</h6>
        <a class="collapse-item" href="/course_entry">Add</a>
        <a class="collapse-item" href="/course_display">View</a>
      </div>
    </div>
  </li>

  <!-- Nav Item - Staffs -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePagesStaff" aria-expanded="true"
      aria-controls="collapsePagesStaff" style="color: white;">
      <i class="fas fa-fw fa-users" style="color: white;"></i>
      <span style="color: white;">Staffs</span>
    </a>

    <div id="collapsePagesStaff" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Staffs</h6>
        <a class="collapse-item" href="/staff_entry">Add</a>
        <a class="collapse-item" href="/staff_display">View</a>
      </div>
    </div>
  </li>

  <!-- Nav Item - Students -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePagesStudents"
      aria-expanded="true" aria-controls="collapsePagesStudents" style="color: white;">
      <i class="fas fa-fw fa-user-graduate" style="color: white;"></i>
      <span style="color: white;">Students</span>
    </a>

    <div id="collapsePagesStudents" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Students</h6>
        <a class="collapse-item" href="/students_entry">Add</a>
        <a class="collapse-item" href="/students_display">View</a>
    </div>
  </li>


  <!-- Nav Item - Tables
  <li class="nav-item">
    <a class="nav-link" href="#">
      <i class="fas fa-fw fa-table"></i>
      <span>Schedule</span></a>
  </li>
  -->
  <!-- Divider -->

  <!-- New -->

  <hr class="sidebar-divider" />

  <li class="nav-item">
    <a class="nav-link" href="#">
      <i class="fas fa-fw fa-image" style="color: white;"></i>
      <span style="color: white;">Internal Mark Analysis</span></a>
  </li>

  <!-- End of new -->

  <hr class="sidebar-divider d-none d-md-block" />

  <li class="nav-item active">
    <a class="nav-link" href="/">
      <i class="fas fa-fw fa-tachometer-alt" style="color: white;"></i>
      <span style="color: white;">LOGOUT</span></a>
  </li>
  <hr class="sidebar-divider d-none d-md-block" />

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>
</ul>

<!-- End of Sidebar -->

